{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "usage",
      "corejs": 3, // or 2,
      "targets": {
        "node": "10.16.0"
      },
    }]
    ],
  "sourceMaps": "inline",
  "plugins": [
    "source-map-support"
  ]
}
